h1{
	font-family: 'Arial Black',gadget,sans-serif;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: center;
}
h2{
	font-family: Verdana,tahoma,sans-serif;
	color: #ee5522;
	text-decoration: underline;
}
p{
	background-color:#555 ;
	color: #fff;
	text-align: justify;
	font-family: Helvetica,arial,sans-serif;
	line-height: 50px;
	font-size: 1.2em;
}
a{
	background-color: #ee5522;
	font-family: "Comic sans MS",arial,sans-serif;
	color: white;
	font-weight: bold;
	text-decoration: none;
}
mark{
	background-color: orange;
	color: green;
	font-style: italic;
}
div{
	text-align: right;
}
